/* --------------------------------------------------------------
## Single product page
-------------------------------------------------------------- */
body.single-product {
	.pswp__bg {
		opacity: 0.75 !important; /* Popup single image background */
	}

	#primary {
		margin: 0 auto !important;
	}

	header.site-header {
		border-bottom: none;
	}

	.edit-link {
		display: none;
	}

	#main {
		> .product {
			display: flex;
			margin-top: 0 !important;

			> .woocommerce-product-gallery,
			> .summary {
				float: none !important;
				margin: 0 !important;
			}

			> .woocommerce-product-gallery {
				@include gradient-gray();

				.woocommerce-product-gallery__trigger {
					width: 3em;
					height: 3em;
					background: $color__white-rgba05;

					&::before {
						font-size: 1.5em;
					}
				}

				.woocommerce-product-gallery__wrapper {
					height: 100%;
					max-height: 100%;
					display: block;

					.woocommerce-product-gallery__image {
						display: block;
						height: inherit;
						max-height: inherit;

						> a {
							display: block;
							height: inherit;
							max-height: inherit;
						}

						img {
							margin: 0 auto;
						}
					}
				}

				&.ps-woocommerce-product-gallery--landscape {
					.woocommerce-product-gallery__image {
						img {
							width: 100%;
							height: auto;
						}
					}
				}

				&.ps-woocommerce-product-gallery--portrait {
					.woocommerce-product-gallery__image {
						img {
							width: auto;
							height: 100%;
							max-width: none;
							max-height: 100%;
						}
					}
				}
			}

			> .summary {
				background-color: $background__grey-lighter;

				.product_title {
					font-weight: 600;
					font-size: 1.5em;
					line-height: 1.2;
				}

				.variations {
					.reset_variations,
					.reset_variations::before,
					select,
					.label {
						color: $color__text-third;
					}
				}

				.single_variation_wrap {
					.woocommerce-variation {
						margin-top: 1em;
					}

					.woocommerce-variation-description {
						color: $color__text-third !important;
						margin-top: 1em;
					}
				}

				.woocommerce-variation-price {
					.price {
						font-size: 2em;
						line-height: 1;
						font-weight: 700;
						color: $color__text-main;
					}
				}

				.woocommerce-variation-add-to-cart {
					.quantity {
						display: none !important;
					}
				}

				.single_add_to_cart_button {
					padding: 10px 60px;
				}
			}
		}

		/* Custom product meta */
		.ps-product-meta {
			ul {
				list-style-type: none;
				padding: 0;
				margin: 0;
			}

			li {
				padding: 0;
				margin: 0 0 10px 0;
				font-size: 18px;

				i {
					margin-right: 10px;
				}
			}
		}

		.product_meta {
			clear: both;
			padding-top: 2em;
			width: 100%;
			flex: none;
			margin-top: 3em;

			.tagged_as {
				> a {
					text-transform: uppercase;
					color: $color__text-third;
					padding: 5px 10px;
					border: 2px solid $background__grey-light;
					display: inline-block;
					margin-bottom: 15px;
					text-decoration: none;

					@include link-transition(background-color);

					&:not(:last-child) {
						margin-right: 15px;
					}

					&:hover {
						background-color: $background__grey-light;
					}
				}
			}
		}

		/* More from this model and shootout */
		.ps-models,
		.ps-shootouts {
			margin: 3em 0 6em 0;

			h2 {
				font-weight: 600;
			}
		}
	}

	@media screen and (min-width: $product__single-forced-min-width) {
		#main > .product {
			width: auto;
			margin: 0 calc(50% - (#{$product__single-forced-min-width} / 2));
			max-width: 1000%;
		}
	}

	@media screen and (max-width: $product__single-forced-max-width) {
		#main > .product {
			width: auto;
			margin: 0 calc(50% - 50vw);
			max-width: 1000%;
		}
	}

	@media screen and (min-width: $brakepoint__lg-min) {
		#main > .product {
			flex-wrap: wrap;
			justify-content: flex-start;
			align-items: stretch;

			> .woocommerce-product-gallery {
				width: auto;
				flex: 1;
				padding: 4em 5%;

				.woocommerce-product-gallery__trigger {
					top: 6em;
					right: 8%;
				}

				&.ps-woocommerce-product-gallery--portrait {
					max-height: 800px;
					height: 800px;
				}
			}

			> .summary {
				width: 350px;
				padding: 3em 1% 3em 2.5em;
			}
		}
	}

	@media screen and (max-width: $brakepoint__lg-max) and (min-width: $brakepoint__sm-min) {
		#main > .product {
			flex-wrap: wrap;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;

			> .woocommerce-product-gallery {
				width: 100%;
				padding: 4em 5%;

				.woocommerce-product-gallery__trigger {
					top: 6em;
					right: 8%;
				}

				&.ps-woocommerce-product-gallery--portrait {
					max-height: 700px;
					height: 700px;
				}
			}

			> .summary {
				width: 100%;
				padding: 3em 5%;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: flex-start;

				h1 {
					flex: none;
					width: 100%;
					font-size: 2.5em !important;
					text-align: center;
					margin-bottom: 2em;
				}

				.ps-product-meta {
					order: 1;
					width: 200px;
				}

				.variations_form {
					order: 2;
					flex: 1;
					display: flex;
					justify-content: flex-end;
					align-items: flex-start;

					.variations {
						width: auto;
						margin-right: 3em;
					}

					.single_variation_wrap {
						.single_variation {
							margin-top: 0 !important;
						}

						.woocommerce-variation-description {
							margin-top: 0 !important;
						}
					}
				}
			}
		}
	}

	@media screen and (max-width: $brakepoint__sm-max) {
		#main > .product {
			flex-wrap: wrap;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;

			> .woocommerce-product-gallery {
				width: 100%;
				padding: 4em 5%;

				.woocommerce-product-gallery__trigger {
					display: none;
					pointer-events: none;
				}

				&.ps-woocommerce-product-gallery--portrait {
					max-height: 600px;
					height: 600px;
				}
			}

			> .summary {
				width: 100%;
				padding: 3em 5%;
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				justify-content: flex-start;
				align-items: center;

				h1 {
					flex: none;
					width: 100%;
					font-size: 2em !important;
					text-align: center;
					margin-bottom: 1em;
				}

				.variations_form {
					width: auto;

					table {
						width: auto;
					}

					.single_variation {
						text-align: center;
					}

					.woocommerce-variation-add-to-cart {
						text-align: center;
					}
				}

				.ps-product-meta {
					width: auto;
					margin-top: 2em;
				}
			}
		}
	}
}
