// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Transition to use site wide
@mixin global-transition($property, $duration: $transition__duration-global) {
	transition: $property $duration $transition__easing-global;
}

// Link transition to use site wide
@mixin link-transition($property) {
	@include global-transition($property);
}

// Gutenberg two columns responsive layout
@mixin gutenbert-2columns-responsive() {
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	.wp-block-column:first-child {
		margin-right: 0 !important;
		padding-right: 0 !important;
		text-align: center;
	}

	.wp-block-column:last-child * {
		text-align: center;
	}
}

// Gradient background gray
@mixin gradient-gray() {
	background: rgb(242, 242, 242);
	background: linear-gradient(90deg, rgba(242, 242, 242, 1) 0%, rgba(243, 243, 243, 1) 35%, rgba(196, 195, 195, 1) 100%);
}

// Link hover
@mixin link-hover() {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}
