// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Transition to use site wide
@mixin global-transition($property, $duration: 0.4s) {
	transition: $property $duration ease-in-out;
}

// Link transition to use site wide
@mixin link-transition($property) {
	@include global-transition($property);
}
