.widget {
	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}

	&.widget_nav_menu {
		ul {
			li {
				padding-left: 0;

				&::before {
					display: none;
				}
			}
		}
	}
}
