h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: $font__main;
	font-weight: 400;
	color: $color__text-main;
	margin: 1.5rem 0;
}

h1 {
	font-size: 3.4rem;
}

h2 {
	font-size: 2.6rem;
}

h3 {
	font-size: 2.2rem;
}

h4 {
	font-size: 1.4rem;
	font-weight: 700;
}

h5 {
	font-size: 1.4rem;
}

h6 {
	font-size: 1.2rem;
}
