button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	position: relative;
	font-size: 1.5rem;
	font-weight: 700;
	color: $color__white;
	border-radius: 5px;
	line-height: 1.4rem;
	padding: 1rem 7rem 1.35rem 1.7rem;
	background: $color__background-button;
	font-family: $font__main;
	border: none;

	@include global-transition(background);

	white-space: normal;
	word-break: break-word;
	text-align: left;

	&:hover {
		background: $color__background-button-hover;
		color: $color__white;
	}

	&:active,
	&:focus {
		outline: none;
	}
}

/* Added wrapper for inputs like button to apply theme style */
button,
.button,
.predic-storefront-form__input-wrapper {
	position: relative;

	&::before {
		content: '';
		display: block;
		height: 6px;
		width: 6px;
		border-top: 2px solid $color__white;
		border-right: 2px solid $color__white;
		transform: rotate(45deg);
		position: absolute;
		top: calc(50% - 3px);
		right: 2rem;
		z-index: 1;
	}
}

.predic-storefront-form__input-wrapper {
	box-sizing: border-box;
	display: inline-block;
}
